body {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}

.header, .game-message {
    grid-column: 1/2;
    text-align: center;
}

h3 {
    text-align: center;
}

h1, h2, h3 {
    margin: 10px;
    text-align: center;
}

.real-player-gameboard {
    grid-column: 2/3;
}

.comp-player-gameboard {
    grid-column: 3/4;
}

.play-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.missed-attacks-gameboard, .ship-placement-gameboard {
    display: grid;
    grid-template-columns: repeat(11,30px);
    grid-template-rows: repeat(11,30px);
}

.game-square {
    border-style: groove;
    border-color: black;
    border-width: 1px;
}

.legend-square {
    text-align: center;
}

.real-player-gameboard, .comp-player-gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ship-placement-gameboard .game-square {
    background-color: blue;
}

.missed-attacks-gameboard .game-square {
    background-color: red;
}

.ship-placement-gameboard .ship {
    background-color: black;
}

.missed-attacks-gameboard .missed {
    background-color: yellow;
}

.missed-attacks-gameboard .hit {
    background-color: green;
}

.comp-player-gameboard .ship-placement-gameboard .hide-grey {
    background-color: grey;
}

.sunken {
    color: red;
}