

@font-face {
    font-family: 'black_ops_oneregular';
    src: url('fonts/blackopsone-regular-webfont.woff2') format('woff2'),
         url('fonts/blackopsone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quanticobold';
    src: url('fonts/quantico-bold-webfont.woff2') format('woff2'),
         url('fonts/quantico-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quanticoregular';
    src: url('fonts/quantico-regular-webfont.woff2') format('woff2'),
         url('fonts/quantico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'quanticoregular', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
}

button {
    font-family: 'quanticoregular', Arial, Helvetica, sans-serif;
}

.header, .game-message {
    grid-column: 1/2;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'black_ops_oneregular','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

.form-row {
    display: flex;
    align-items: center;
}

.real-player-gameboard {
    grid-column: 2/3;
}

.comp-player-gameboard {
    grid-column: 3/4;
}

.play-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.missed-attacks-gameboard, .ship-placement-gameboard {
    display: grid;
    grid-template-columns: repeat(11,30px);
    grid-template-rows: repeat(11,30px);
}

.game-square {
    border-style: groove;
    border-color: black;
    border-width: 1px;
}

.legend-square {
    text-align: center;
}

.real-player-gameboard, .comp-player-gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ship-placement-gameboard .game-square {
    background-color: blue;
}

.missed-attacks-gameboard .game-square {
    background-color: red;
}

.ship-placement-gameboard .ship {
    background-color: black;
}

.missed-attacks-gameboard .missed {
    background-color: yellow;
}

.missed-attacks-gameboard .hit {
    background-color: green;
}

.comp-player-gameboard .ship-placement-gameboard .hide-grey {
    background-color: grey;
}

.sunken {
    color: red;
}

.input-ships {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrier-info, .battleship-info, .cruiser-info, .submarine-info, .destroyer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    gap: 10px;
}

button {
    margin: 10px;
}

input {
    width: 50px;
}

.input-ships h4 {
    margin-top: 20px;
}